<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test suite">

    <listeners>
        <listener class-name="io.qase.testng.QaseListener"/>
    </listeners>

    <test name="Test example">
        <classes>
            <class name="TestExample"/>
        </classes>
    </test>
</suite>